*.log
.idea/
.gradle/
gradle/
gradlew
gradlew.bat
build/

api/build/
api/out/
api/src/main/generated/
api/src/test/generated_test/

core/build/
core/out/
core/src/main/generated/
core/src/test/generated_test/

dml/

core/catalina.home_IS_UNDEFINED/
catalina.home_IS_UNDEFINED/